* {
        padding: 0;
        margin: 0;
    }
  
  body {
    background: #222;
  }
  
    #canvas {
    z-index: 1;
    display: block;
    background: #222;
    }
  
  #message, #score, #life {
    position: absolute;
    z-index: 1000;
    color: #fff;
    font-size: 1.2em;
    margin: 10px;
    padding: 5px;
  }
  
  #start {
    z-index: 100;
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    top: 50%;
    font-family: arial;
    font-size: 4em;
  }
  
  #message {
    display: inline-block;
    text-align: center;
  }
  
  @-webkit-keyframes rotates {
    0% {-webkit-transform: rotateY(0deg)}
    25% {-webkit-transform: rotateY(90deg)}
    50% {-webkit-transform: rotateY(180deg)}
    75% {-webkit-transform: rotateY(90deg)}
  }
  
  #life {
    display: inline-block;
    border: 1px solid #bb2;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: #bb2;
    text-align: center;
    -webkit-transform-origin: center center;
    -webkit-animation: rotates 5s infinite;
  }
  
  #message {
    left: 50%;
  }
  
  #score {
    top: 0;
    right: 0;
  }
